<!--suppress ALL -->
<mj-section background-color="#1a365d">
    <mj-column width="100%">
        <mj-text align="center" color="#e2e8f0" font-size="12px">
            <p>© {{currentYear}} IoT Hub Uganda. All rights reserved.</p>
            <p>Ntinda, Kampala, Uganda</p>
        </mj-text>
    </mj-column>
</mj-section>
</mj-body>
</mjml>
